:root{
    --file-container-bg:  #eeeeee;
    --file-bg:  #f8f8f8;
    --file-border-color: #606060;
    --file-rounded: 15px;
    --file-color: #2b2b2b;
    --table-border-color: #dbdbdb;
    --delete-button-bg: #f53636;
    --delete-button-color: #ffffff;
    --font-size: 0.875em;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.file-container {
    width: 100%!important;
    font-family: var(--font-family)!important;

    .file-upload {
        width: 100%!important;
        display: flex!important;
        background-color: var(--file-container-bg)!important;
        border-radius: var(--file-rounded)!important;
        transition: all 0.3s!important;

        &:hover {
            box-shadow: var(--shadow)!important;
        }

        >div {
            width: 100%!important;
            background-color: var(--file-bg)!important;
            padding: 25px!important;
            margin: 25px!important;
            border-radius: 10px!important;
            border: 1px dashed var(--file-border-color)!important;
            text-align: center!important;
            cursor: pointer!important;

            >i {
                font-size: 3.125em!important;
                color: var(--file-color)!important;
            }

            >p,
            span,
            div {
                font-size: var(--font-size)!important;
                line-height: 30px!important;
                color: var(--file-color)!important;
            }

            >div {
                width: max-content!important;
                padding: 0 10px!important;
                margin: 0 auto!important;
                border: 1px solid var(--file-border-color)!important;
                border-radius: 8px!important;
            }
        }
    }

    >table {
        width: 100%!important;
        border-collapse: collapse!important;
        font-size: var(--font-size)!important;
        margin-top: 20px!important;

        & th,
        td {
            border-bottom: 1px solid var(--table-border-color)!important;
            padding: 8px!important;
            text-align: left!important;
        }

        >tbody {
            >tr {
                >td {
                    &:nth-child(1) {
                        font-weight: bold!important;
                    }

                    &:nth-child(2) {
                        white-space: nowrap!important;
                        text-overflow: ellipsis!important;
                        overflow: hidden!important;
                        max-width: 1px!important;
                    }

                    &:nth-child(3) {
                        text-align: center!important;
                    }

                    >img {
                        border-radius: 5px!important;
                        box-shadow: var(--shadow)!important;
                    }

                    &.no-file {
                        text-align: center!important;
                        font-weight: normal!important;
                    }

                    > i{
                        font-size: 1.125em!important;
                    }
                }
            }
        }

        & button {
            background-color: var(--delete-button-bg)!important;
            width: 30px!important;
            height: 30px!important;
            border: none!important;
            border-radius: 50%!important;
            display: flex!important;
            justify-content: center!important;
            align-items: center!important;
            cursor: pointer!important;

            &:hover {
                box-shadow: var(--shadow)!important;
            }

            >i {
                color: var(--delete-button-color)!important;
                font-size: 1.125em!important;
            }
        }
    }
}
